.App {
  text-align: center;
}
body {
  background-color: #39195980;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

h1 {
  color: #f29829;
  display: inline-block;
}

.subtitle {
  color: #d94395;
  padding-left: 10px;
}

h2 {
  color: #05f2db;
}

.me {
  border: 1px solid #f29829;
  border-radius: 50%;
  padding: 5px;
  width: 150px;
  display: inline-block;
};

div {
  background-color: #f2668b;
  color: #fff;
}